.u-section-1 .u-sheet-1 {
  min-height: 603px;
}

.u-section-1 .u-image-1 {
  width: 891px;
  height: 548px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: "Abril Fatface";
  font-size: 3.5625rem;
  margin: -311px 671px 0 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: -82px 671px 0 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 78px 671px 0 30px;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-size: 0.625rem;
  font-weight: normal;
  margin: -372px -199px 0 1030px;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  margin: 411px 993px 0 97px;
}

.u-section-1 .u-image-2 {
  width: 20px;
  height: 25px;
  margin: -23px auto 0 127px;
}

.u-section-1 .u-image-3 {
  width: 23px;
  height: 28px;
  margin: -25px -56px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 23px;
  height: 28px;
  margin: -28px -56px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 15px;
  height: 21px;
  margin: -26px auto 0 67px;
}

.u-section-1 .u-image-6 {
  width: 26px;
  height: 21px;
  margin: 20px -59px 0 auto;
}

.u-section-1 .u-image-7 {
  width: 26px;
  height: 21px;
  margin: -21px -59px 0 auto;
}

.u-section-1 .u-image-8 {
  width: 25px;
  height: 21px;
  margin: 17px -57px 55px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 501px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 501px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 501px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 930px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 890px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 443px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -206px;
    margin-right: 281px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 281px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 281px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 820px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 670px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 332px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -95px;
    margin-right: 101px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 101px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 101px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 730px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 490px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 209px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 28px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 630px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 290px;
  }
} .u-section-2 {
  min-height: 387px;
}

.u-section-2 .u-text-1 {
  font-size: 1.625rem;
  margin: 0 auto 0 calc(((100% - 1140px) / 2) + 266px);
}

.u-section-2 .u-image-1 {
  height: 387px;
  margin-top: -170px;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  margin: -197px auto 0 calc(((100% - 1140px) / 2) + 493px);
}

.u-section-2 .u-image-2 {
  width: 18px;
  height: 106px;
  margin: 20px auto -36px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 266px);
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 407px);
  }

  .u-section-2 .u-image-2 {
    height: 108px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 204px);
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2) + 312px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
    margin-left: calc(((100% - 540px) / 2) + 153px);
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2) + 234px);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 493px);
  }

  .u-section-2 .u-image-2 {
    margin-left: calc(((100% - 1140px) / 2) + 561px);
  }
}.u-section-3 .u-sheet-1 {
  min-height: 709px;
}

.u-section-3 .u-image-1 {
  width: 618px;
  height: 451px;
  margin: 10px auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 656px;
  height: 563px;
  margin: -406px 0 0 auto;
}

.u-section-3 .u-image-3 {
  width: 82px;
  height: 83px;
  margin: -323px 287px 0 auto;
}

.u-section-3 .u-image-4 {
  width: 20px;
  height: 23px;
  margin: -53px 318px 0 auto;
}

.u-section-3 .u-text-1 {
  font-size: 0.875rem;
  font-weight: 300;
  font-family: Poppins;
  margin: 143px auto 0 139px;
}

.u-section-3 .u-text-2 {
  font-family: Poppins;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 2px;
  margin: 30px auto 0 139px;
}

.u-section-3 .u-rotation-parent-1 {
  width: 89px;
  height: 15px;
  margin: -3px auto 60px 138px;
}

.u-section-3 .u-image-5 {
  width: 15px;
  height: 89px;
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 394px;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 464px;
    margin-top: -349px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -224px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 243px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 248px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 292px;
    margin-top: -203px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -52px;
    margin-right: 258px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 88px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 88px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 922px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 0.75rem;
  text-align: start;
  letter-spacing: 2px;
  width: 51px;
  margin: 82px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 2.625rem;
  font-weight: 700;
  width: 223px;
  margin: -9px auto 0;
}

.u-section-4 .u-image-1 {
  width: 245px;
  height: 314px;
  margin: 207px auto 0 814px;
}

.u-section-4 .u-image-2 {
  width: 174px;
  height: 473px;
  margin: -473px 117px 0 auto;
}

.u-section-4 .u-text-3 {
  font-family: Poppins;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: start;
  margin: -261px 31px 0 auto;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  font-family: "Playfair Display", serif;
  text-align: start;
  margin: 0 -19px 0 auto;
}

.u-section-4 .u-text-5 {
  font-family: Poppins;
  font-size: 1.5rem;
  text-align: start;
  margin: 6px 33px 0 auto;
}

.u-section-4 .u-image-3 {
  width: 245px;
  height: 314px;
  margin: -159px auto 0;
}

.u-section-4 .u-image-4 {
  width: 224px;
  height: 453px;
  margin: -463px auto 0;
}

.u-section-4 .u-text-6 {
  font-family: Poppins;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: start;
  margin: -251px 398px 0 auto;
}

.u-section-4 .u-text-7 {
  font-size: 1.5rem;
  font-family: "Playfair Display", serif;
  text-align: start;
  margin: 0 343px 0 auto;
}

.u-section-4 .u-text-8 {
  font-family: Poppins;
  font-size: 1.5rem;
  text-align: start;
  margin: 6px 399px 0 auto;
}

.u-section-4 .u-image-5 {
  width: 245px;
  height: 314px;
  margin: -159px auto 0 81px;
}

.u-section-4 .u-image-6 {
  width: 172px;
  height: 435px;
  margin: -454px auto 0 118px;
}

.u-section-4 .u-text-9 {
  font-family: Poppins;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  margin: -242px auto 0 275px;
}

.u-section-4 .u-text-10 {
  font-size: 1.5rem;
  font-family: "Playfair Display", serif;
  margin: 0 auto 0 275px;
}

.u-section-4 .u-text-11 {
  font-family: Poppins;
  font-size: 1.5rem;
  margin: 6px 762px 0 311px;
}

.u-section-4 .u-text-12 {
  font-family: Poppins;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 4px;
  text-align: start;
  transition-duration: 0.5s;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  margin: 0 auto 0 326px;
}

.u-section-4 .u-text-13 {
  font-family: Poppins;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 4px;
  text-align: start;
  transition-duration: 0.5s;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  margin: -19px 411px 0 auto;
}

.u-section-4 .u-text-14 {
  font-family: Poppins;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 4px;
  text-align: start;
  transition-duration: 0.5s;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  margin: -19px 44px 0 auto;
}

.u-section-4 .u-text-15 {
  font-family: Poppins;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 4px;
  text-align: start;
  transition-duration: 0.5s;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  margin: 286px auto 0;
}

.u-section-4 .u-rotation-parent-1 {
  width: 107px;
  height: 18px;
  margin: 0 auto 52px;
}

.u-section-4 .u-image-7 {
  width: 18px;
  height: 107px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 485px;
    margin-left: 404px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 399px;
    margin-left: 318px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 225px;
    margin-left: 655px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 77px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -160px;
    margin-left: 307px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 328px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 283px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 329px;
  }

  .u-section-4 .u-image-5 {
    margin-top: -178px;
    margin-left: 41px;
  }

  .u-section-4 .u-image-6 {
    margin-top: -436px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 662px;
    margin-left: 211px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 269px;
  }

  .u-section-4 .u-text-13 {
    margin-right: 338px;
  }

  .u-section-4 .u-text-15 {
    margin-top: 276px;
    margin-left: 383px;
  }

  .u-section-4 .u-rotation-parent-1 {
    margin-left: 376px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 375px;
    margin-left: 294px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 289px;
    margin-left: 208px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 435px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 197px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 251px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 217px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 252px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 211px;
  }

  .u-section-4 .u-text-10 {
    margin-left: 211px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 552px;
    margin-left: 101px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 206px;
  }

  .u-section-4 .u-text-13 {
    margin-right: 259px;
  }

  .u-section-4 .u-text-15 {
    margin-left: 273px;
  }

  .u-section-4 .u-rotation-parent-1 {
    margin-left: 266px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 285px;
    margin-left: 204px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 199px;
    margin-left: 118px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 255px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 107px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 188px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 163px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 189px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 158px;
  }

  .u-section-4 .u-text-10 {
    margin-left: 158px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 462px;
    margin-left: 11px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 155px;
  }

  .u-section-4 .u-text-13 {
    margin-right: 194px;
  }

  .u-section-4 .u-text-15 {
    margin-left: 183px;
  }

  .u-section-4 .u-rotation-parent-1 {
    margin-left: 176px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-right: 168px;
    margin-left: 121px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 82px;
    margin-left: 35px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 71px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 93px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 24px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 118px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 103px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 119px;
  }

  .u-section-4 .u-image-5 {
    margin-left: 57px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 99px;
  }

  .u-section-4 .u-text-10 {
    margin-left: 99px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 273px;
    margin-left: 0;
  }

  .u-section-4 .u-text-12 {
    margin-left: 98px;
  }

  .u-section-4 .u-text-13 {
    margin-right: 122px;
  }

  .u-section-4 .u-text-15 {
    margin-left: 99px;
  }

  .u-section-4 .u-rotation-parent-1 {
    margin-left: 93px;
  }
}

.u-section-4 .u-text-15,
.u-section-4 .u-text-15:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-text-15.u-text-15.u-text-15:hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
}

.u-section-4 .u-text-15.u-text-15.u-text-15.hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
}

.u-section-4 .u-text-12,
.u-section-4 .u-text-12:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-text-12.u-text-12.u-text-12:hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
}

.u-section-4 .u-text-12.u-text-12.u-text-12.hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
}

.u-section-4 .u-text-13,
.u-section-4 .u-text-13:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-text-13.u-text-13.u-text-13:hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
}

.u-section-4 .u-text-13.u-text-13.u-text-13.hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
}

.u-section-4 .u-text-14,
.u-section-4 .u-text-14:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-text-14.u-text-14.u-text-14:hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
}

.u-section-4 .u-text-14.u-text-14.u-text-14.hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
}.u-section-5 .u-sheet-1 {
  min-height: 1271px;
}

.u-section-5 .u-text-1 {
  font-size: 2.625rem;
  margin: 173px auto 0 55px;
}

.u-section-5 .u-rotation-parent-1 {
  width: 89px;
  height: 15px;
  text-align: start;
  margin: -15px auto 0 55px;
}

.u-section-5 .u-image-1 {
  width: 15px;
  height: 20px;
}

.u-section-5 .u-text-2 {
  font-size: 9.375rem;
  font-weight: 700;
  margin: -191px auto 0 55px;
}

.u-section-5 .u-image-2 {
  width: 701px;
  height: 479px;
  margin: -177px 0 0 auto;
}

.u-section-5 .u-text-3 {
  font-size: 0.75rem;
  letter-spacing: 2px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  margin: -454px -80px 0 auto;
}

.u-section-5 .u-text-4 {
  font-family: Poppins;
  font-weight: 300;
  margin: 133px auto 0 55px;
}

.u-section-5 .u-text-5 {
  font-family: Poppins;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 2px;
  text-align: start;
  transition-duration: 0.5s;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  margin: 55px auto 0 56px;
}

.u-section-5 .u-rotation-parent-2 {
  width: 89px;
  height: 15px;
  text-align: start;
  margin: 0 auto 0 55px;
}

.u-section-5 .u-image-3 {
  width: 15px;
  height: 89px;
}

.u-section-5 .u-image-4 {
  width: 449px;
  height: 476px;
  margin: 216px auto 0 144px;
}

.u-section-5 .u-text-6 {
  font-size: 2.625rem;
  text-align: start;
  margin: -352px auto 0 642px;
}

.u-section-5 .u-rotation-parent-3 {
  width: 89px;
  height: 15px;
  text-align: start;
  margin: -15px auto 0 642px;
}

.u-section-5 .u-image-5 {
  width: 15px;
  height: 20px;
}

.u-section-5 .u-text-7 {
  font-size: 9.375rem;
  text-align: start;
  font-weight: 700;
  margin: -191px auto 0 642px;
}

.u-section-5 .u-text-8 {
  font-size: 0.75rem;
  letter-spacing: 2px;
  background-image: none;
  margin: -198px auto 0 52px;
}

.u-section-5 .u-text-9 {
  font-family: Poppins;
  font-weight: 300;
  text-align: start;
  margin: 179px auto 0 642px;
}

.u-section-5 .u-text-10 {
  font-family: Poppins;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 2px;
  text-align: start;
  transition-duration: 0.5s;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  margin: 55px auto 0 643px;
}

.u-section-5 .u-rotation-parent-4 {
  width: 89px;
  height: 15px;
  text-align: start;
  margin: 0 auto 60px 642px;
}

.u-section-5 .u-image-6 {
  width: 15px;
  height: 89px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1409px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -33px;
  }

  .u-section-5 .u-rotation-parent-1 {
    height: 84px;
    margin-top: -54px;
  }

  .u-section-5 .u-image-1 {
    height: 89px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -175px;
  }

  .u-section-5 .u-image-2 {
    margin-top: 90px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -623px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 215px;
  }

  .u-section-5 .u-rotation-parent-2 {
    margin-top: -55px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 529px;
  }

  .u-section-5 .u-rotation-parent-3 {
    height: 84px;
    margin-left: 529px;
  }

  .u-section-5 .u-image-5 {
    height: 89px;
  }

  .u-section-5 .u-text-7 {
    margin-top: -260px;
    margin-left: 529px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 529px;
  }

  .u-section-5 .u-text-10 {
    margin-left: 530px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-6 {
    margin-left: 405px;
  }

  .u-section-5 .u-rotation-parent-3 {
    margin-left: 405px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 405px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 405px;
  }

  .u-section-5 .u-text-10 {
    margin-left: 406px;
  }

  .u-section-5 .u-rotation-parent-4 {
    margin-left: 631px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1299px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -121px;
  }

  .u-section-5 .u-image-2 {
    width: 540px;
    height: 369px;
    margin-top: 178px;
  }

  .u-section-5 .u-image-4 {
    margin-left: 91px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 304px;
  }

  .u-section-5 .u-rotation-parent-3 {
    margin-left: 304px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 304px;
  }

  .u-section-5 .u-text-8 {
    margin-top: -265px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 246px;
    margin-left: 304px;
  }

  .u-section-5 .u-text-10 {
    margin-left: 305px;
  }

  .u-section-5 .u-rotation-parent-4 {
    margin-left: 451px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1046px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -231px;
  }

  .u-section-5 .u-rotation-parent-1 {
    margin-top: 21px;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 232px;
    margin-top: 213px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -548px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 140px;
  }

  .u-section-5 .u-image-4 {
    width: 340px;
    height: 360px;
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    margin-top: -236px;
    margin-left: 191px;
  }

  .u-section-5 .u-rotation-parent-3 {
    margin-left: 191px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 191px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 191px;
  }

  .u-section-5 .u-text-10 {
    margin-left: 192px;
  }

  .u-section-5 .u-rotation-parent-4 {
    margin-left: 251px;
  }
}

.u-section-5 .u-text-5,
.u-section-5 .u-text-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-text-5.u-text-5.u-text-5:hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
}

.u-section-5 .u-text-5.u-text-5.u-text-5.hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
}

.u-section-5 .u-text-10,
.u-section-5 .u-text-10:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-text-10.u-text-10.u-text-10:hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
}

.u-section-5 .u-text-10.u-text-10.u-text-10.hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
} .u-section-6 {
  min-height: 481px;
  background-image: url("images/img3.png");
  background-position: 50% 50%;
}

.u-section-6 .u-image-1 {
  width: 18px;
  height: 106px;
  margin: 40px calc(((100% - 1140px) / 2) + 552px) 0 auto;
}

.u-section-6 .u-text-1 {
  margin: 39px auto 0 calc(((100% - 1140px) / 2) + 444px);
}

.u-section-6 .u-text-2 {
  font-family: Poppins;
  font-weight: 300;
  text-align: start;
  margin: 9px auto 0 calc(((100% - 1140px) / 2) + 261px);
}

.u-section-6 .u-form-1 {
  height: 47px;
  width: 570px;
  margin: 19px calc(((100% - 1140px) / 2) + 285px) 0;
}

.u-section-6 .u-input-1 {
  background-image: none;
  box-shadow: 0 0px 11px 0 rgba(128,128,128,0.4);
}

.u-section-6 .u-btn-1 {
  border-style: none;
  padding: 10px 25px;
}

.u-section-6 .u-image-2 {
  width: 20px;
  height: 25px;
  margin: -36px calc(((100% - 1140px) / 2) + 300px) 60px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2) + 552px);
  }

  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 366px);
  }

  .u-section-6 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 261px);
  }

  .u-section-6 .u-form-1 {
    margin-left: calc(((100% - 940px) / 2) + 185px);
    margin-right: calc(((100% - 940px) / 2) + 185px);
  }

  .u-section-6 .u-btn-1 {
    width: 2%;
  }

  .u-section-6 .u-image-2 {
    margin-right: calc(((100% - 940px) / 2) + 300px);
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2) + 552px);
  }

  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 280px);
  }

  .u-section-6 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2) + 200px);
  }

  .u-section-6 .u-form-1 {
    margin-left: calc(((100% - 720px) / 2) + 75px);
    margin-right: calc(((100% - 720px) / 2) + 75px);
  }

  .u-section-6 .u-image-2 {
    margin-right: calc(((100% - 720px) / 2) + 300px);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2) + 522px);
  }

  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 210px);
  }

  .u-section-6 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2) + 150px);
  }

  .u-section-6 .u-form-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-image-2 {
    margin-right: calc(((100% - 540px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    margin-right: calc(((100% - 340px) / 2) + 322px);
  }

  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 132px);
  }

  .u-section-6 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2) + 94px);
  }

  .u-section-6 .u-form-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-image-2 {
    margin-right: calc(((100% - 340px) / 2) + 300px);
  }
} .u-section-7 {
  min-height: 544px;
}

.u-section-7 .u-image-1 {
  width: 650px;
  height: 448px;
  margin: 21px auto 0 0;
}

.u-section-7 .u-text-1 {
  font-weight: 400;
  font-size: 2rem;
  margin: -276px calc(((100% - 1140px) / 2) + 388px) 0 calc(((100% - 1140px) / 2) + 379px);
}

.u-section-7 .u-text-2 {
  font-family: Poppins;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 2px;
  text-align: start;
  transition-duration: 0.5s;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  margin: 59px calc(((100% - 1140px) / 2) + 706px) 0 calc(((100% - 1140px) / 2) + 318px);
}

.u-section-7 .u-rotation-parent-1 {
  width: 115px;
  height: 19px;
  text-align: start;
  margin: 0 auto 0 calc(((100% - 1140px) / 2) + 318px);
}

.u-section-7 .u-image-2 {
  width: 19px;
  height: 115px;
}

.u-section-7 .u-text-3 {
  letter-spacing: 0px;
  font-size: 0.75rem;
  font-weight: 700;
  margin: -290px calc(((100% - 1140px) / 2) + 706px) 60px calc(((100% - 1140px) / 2) + 318px);
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 288px);
    margin-left: calc(((100% - 940px) / 2) + 279px);
  }

  .u-section-7 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 606px);
    margin-left: calc(((100% - 940px) / 2) + 218px);
  }

  .u-section-7 .u-rotation-parent-1 {
    margin-left: calc(((100% - 940px) / 2) + 218px);
  }

  .u-section-7 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 606px);
    margin-left: calc(((100% - 940px) / 2) + 218px);
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 178px);
    margin-left: calc(((100% - 720px) / 2) + 169px);
  }

  .u-section-7 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 496px);
    margin-left: calc(((100% - 720px) / 2) + 108px);
  }

  .u-section-7 .u-rotation-parent-1 {
    margin-left: calc(((100% - 720px) / 2) + 108px);
  }

  .u-section-7 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 496px);
    margin-left: calc(((100% - 720px) / 2) + 108px);
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 468px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 372px;
  }

  .u-section-7 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 88px);
    margin-left: calc(((100% - 540px) / 2) + 79px);
  }

  .u-section-7 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 406px);
    margin-left: calc(((100% - 540px) / 2) + 18px);
  }

  .u-section-7 .u-rotation-parent-1 {
    margin-left: calc(((100% - 540px) / 2) + 18px);
  }

  .u-section-7 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + 406px);
    margin-left: calc(((100% - 540px) / 2) + 18px);
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 330px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 234px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -62px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2) + 224px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-rotation-parent-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2) + 224px);
    margin-left: calc(((100% - 340px) / 2));
  }
}

.u-section-7 .u-text-2,
.u-section-7 .u-text-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-7 .u-text-2.u-text-2.u-text-2:hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
}

.u-section-7 .u-text-2.u-text-2.u-text-2.hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
}.fsm {
	transform: rotate(-0.25turn);
}
.sc {
	transform: rotate(-0.25turn);
}
.zeroone {
	opacity: 0.13;
}
.sc1 {
	transform: rotate(-0.25turn);
}